{% load static %}
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/bootstrap/css/bootstrap.min.css'%}">
    <link href="{% static 'polls/assets/vendor/fonts/circular-std/style.css" rel="stylesheet'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/libs/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/charts/chartist-bundle/chartist.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/charts/morris-bundle/morris.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/charts/c3charts/c3.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/vendor/fonts/flag-icon-css/flag-icon.min.css'%}">
    <title>Pontos de Controle</title>
</head>

<body>
   <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{% static '../' %}">PONTOS DE CONTROLE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <!--<li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>-->
                        <!--<li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'polls/assets/images/avatar-2.jpg'%}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'polls/assets/images/avatar-3.jpg'%}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'polls/assets/images/avatar-4.jpg'%}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'polls/assets/images/avatar-5.jpg'%}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>-->
                        <!--<li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'polls/assets/images/github.png'%}" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'polls/assets/images/dribbble.png'%}" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'polls/assets/images/dropbox.png'%}" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'polls/assets/images/bitbucket.png'%}" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'polls/assets/images/mail_chimp.png'%}" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'polls/assets/images/slack.png'%}" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>-->
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'polls/assets/images/avatar-1.jpg'%}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{ user.first_name }}&nbsp;{{ user.last_name }} </h5>
                                    <span class="status"></span><span class="ml-2">
                                    {% if user.is_superuser%}
                                        Grupo Administrador
                                    {% else %}
                                        {% for valor in  user.groups.values %}
                                            Grupo:&nbsp;{{ valor.name }}&nbsp;&nbsp;
                                        {% endfor %}
                                    {% endif %}
                                    </span>
                                </div>
                                <!--<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>-->
                                <a class="dropdown-item" href="{% url 'sair' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                {% load static tempo_atual %}
                                {% tempo_atualf %}
                            </li>

                            <li class="nav-item ">

                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="m-r-10 mdi mdi-earth"></i>GLOBAL<span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="carteira"><i class="m-r-10 mdi mdi-format-list-bulleted-type">&nbsp;&nbsp;Carteira</i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="devolucao"><i class="m-r-10 mdi mdi-format-list-bulleted-type">&nbsp;&nbsp;Devolução</i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="faturamento"><i class="m-r-10 mdi mdi-format-list-bulleted-type">&nbsp;&nbsp;Faturamento</i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="prazoentrega"><i class="m-r-10 mdi mdi-format-list-bulleted-type">&nbsp;&nbsp;Prazo de Entrega</i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="producaogeral"><i class="m-r-10 mdi mdi-format-list-bulleted-type">&nbsp;&nbsp;Produção Geral</i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="reprogramacaoretrabalho"><i class="m-r-10 mdi mdi-format-list-bulleted-type">&nbsp;&nbsp;Reprogramação & Retrabalho</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2f" aria-controls="submenu-2f"><i class="fas fa-diagnoses"></i>FERRAMENTAS</a>
                                <div id="submenu-2f" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                         <li class="nav-item">
                                            <a class="nav-link" href="folha_observacoes_list"><i class="fas fa-clipboard-list">&nbsp;&nbsp;Folha de Observações<span class="badge badge-secondary">Folha de Observações</span></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="fluxograma"><i class="fas fa-sitemap">&nbsp;&nbsp;Fluxograma<span class="badge badge-secondary">Fluxograma</span></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="matrizbcg"><i class="fas fa-cube">&nbsp;&nbsp;Matriz BCG<span class="badge badge-secondary">BCG</span></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="m-r-10 mdi mdi-folder-star"></i>RELATÓRIOS</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="m-r-10 mdi mdi-note-text">&nbsp;&nbsp;-<span class="badge badge-secondary">New</span></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="m-r-10 mdi mdi-group"></i>SETORES</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                    {% for setor in setor_list %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'setor' setor.codigo %}"><i class="m-r-10 mdi mdi-format-wrap-square">&nbsp;&nbsp;{{setor.nome}}</i></a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="m-r-10 mdi mdi-settings"></i>CONFIGURAÇÕES </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="admin"><i class="m-r-10 mdi mdi-account-star-variant">&nbsp;&nbsp;Admin</i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/blank-page-header.html"><i class="m-r-10 mdi mdi-briefcase-upload">&nbsp;&nbsp;Carga Dados</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
       <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Dashboard </h2>
                                <p class="pageheader-text"></p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Inicio</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- Carteiras  -->
                            <!-- ============================================================== -->
                            {% for objeto in carteira_atual_list %}
                               <div class="col-xl-5 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Carteira Atual </h5>
                                    <div class="card-body">
                                        <h5 class="text-muted">{{ objeto.apelido}}</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">${{ objeto.valor|floatformat:0}}</h1>
                                        </div>
                                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                           {% for giro in list_giro %}
                                                {% if giro.idempresa == objeto.idempresa %}
                                                    <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">Giro {{ giro.giro|floatformat:2 }}%</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- ============================================================== -->
                            <!-- end Carteiras  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                    <div class="row">
                    <!-- ============================================================== -->
                    <!-- Faturamento  -->
                    <!-- ==============================================================-->
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Faturamento Atual</h5>
                            <div class="card-body">
                               <div id="morris_area"></div>
                            </div>
                        </div>
                    </div>

                    <!-- ============================================================== -->
                    <!-- end Faturamento  -->
                    <!-- ============================================================== -->
                </div>
              <div class="row">
                   <!-- ============================================================== -->
                        <!--bar chart  -->
                        <!-- ============================================================== -->
                       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Devolução Atual</h5>
                                <div class="card-body">
                                    <div id="morris_bar"></div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!--end bar chart  -->
                        <!-- ============================================================== -->
                   <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Reprogramação & Retrabalho Atual</h5>
                                <div class="card-body">
                                    <div id="char_reprogramacao"></div>
                                </div>
                            </div>
                        </div>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             <strong>Copyright &copy; 2020 Pontos de Controle</strong></br>
			                Desenvolvido por <a href="http://www.cledsonfs.com.br">Cledson Francisco Silva</a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="http://www.cledsonfs.com.br">Contato</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
<script src="{% static 'polls/assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'polls/assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'polls/assets/vendor/slimscroll/jquery.slimscroll.js'%}"></script>
    <!-- main js -->
    <script src="{% static 'polls//libs/js/main-js.js'%}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'polls/assets/vendor/charts/chartist-bundle/chartist.min.js'%}"></script>
    <!-- sparkline js -->
    <script src="{% static 'polls/assets/vendor/charts/sparkline/jquery.sparkline.js'%}"></script>
    <!-- morris js -->
    <script src="{% static 'polls/assets/vendor/charts/morris-bundle/raphael.min.js'%}"></script>
    <script src="{% static 'polls/assets/vendor/charts/morris-bundle/morris.js'%}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'polls/assets/vendor/charts/c3charts/c3.min.js'%}"></script>
    <script src="{% static 'polls/assets/vendor/charts/c3charts/d3-5.4.0.min.js'%}"></script>
    <script src="{% static 'polls/assets/vendor/charts/c3charts/C3chartjs.js'%}"></script>
    <script src="{% static 'polls/assets/libs/js/dashboard-ecommerce.js'%}"></script>
    <script src="{% static 'polls/assets/vendor/charts/charts-bundle/Chart.bundle.js'%}"></script>
    <script>
            Morris.Bar({
                element: 'morris_bar',
             hideHover: 'auto',
                data: [
                    {% for empresa in empresa_list %}
                   {% for objeto in devolucao_atual_valor_list %}
                       {% if objeto.idempresa == empresa.idempresa %}
                           { x: '{{ empresa.apelido }}', y:  {{ objeto.valor }} },
                       {% endif %}
                   {% endfor %}
                {% endfor %}

                ],
                xkey: 'x',
                ykeys: ['y'],
                labels: ['Devolução Mês Atual'],
                   barColors: ['#5969ff'],
                     resize: true,
                        gridTextSize: '12px'

            });

            Morris.Area({
                element: 'morris_area',
                fillOpacity: 0.6,
                hideHover: 'auto',
                behaveLikeLine:true,
                data: [
                    {% for objeto in faturamento_graf_mes_list %}
                        { {{ objeto }} },
                    {% endfor %}
                ],
                xkey: 'x',
                parseTime:false,
                ykeys: ['y', 'z', 'w'],
               labels:  [{% for empresa in empresa_list %}
                   {% for ftotal in faturamento_total_list %}
                       {% if empresa.idempresa == ftotal.idempresa %}
                          '{{ empresa.apelido }} Total Mês:{{ ftotal.valor }} , Total Dia ',
                       {% endif %}
                       {% endfor %}
              {% endfor %}],
                   resize: true,
                   gridTextSize: '14px'
            });

                Morris.Bar({
                element: 'char_reprogramacao',
                    hideHover: 'auto',
                data: [
                    {% for objeto in reprogramacao_grafico_list %}
                    {x: '{{ objeto.nome }}', y: {{ objeto.reprogramacao }}, z: {{ objeto.retrabalho }} },
                    {% endfor %}
                ],
                xkey: 'x',
                ykeys: ['y', 'z'],
                labels: ['Reprogramacao', 'Retrabalho'],
                stacked: true,
                   barColors: ['#ff407b', '#25d5f2'],
                     resize: true,
                        gridTextSize: '14px'
            });

    </script>


</body>
 
</html>